<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>oh my buffer</title>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <title>oh my buffer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="https://threejs.org/examples/js/controls/DragControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta name="description" content="continous glitch" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <canvas id="canvas"/>
    <script src="RTC.js"></script>
    <script src="Glitter.js"></script>
    <script src="Irri.js"></script>
    <script src="ReactionDiffusion.js"></script>
    <script src="Copy.js"></script>
    <script src="OhMyBufferApp.js"></script>
    <script src="main.js"></script>
  </body>
</html>
