html, body {
    width: 100%;
    height: 100%;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
  }


  .dg li.save-row {
      color: white !important;
      background:black !important;
      width: 280px !important;
    }
   
   span{
     background:black !important;
     box-shadow: 0 0 black !important;
   }

   select{
     color: white;
   }
   .dg li.save-row .button.gears {
    padding: 0.8em 1em;
    background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpiYKAU/P//PwGIC/ApCABiBSAW+I8AClAcgKxQ4T9hoMAEUrxx2QSGN6+egDX+/vWT4e7N82AMYoPAx/evwWoYoSYbACX2s7KxCxzcsezDh3evFoDEBYTEEqycggWAzA9AuUSQQgeYPa9fPv6/YWm/Acx5IPb7ty/fw+QZblw67vDs8R0YHyQhgObx+yAJkBqmG5dPPDh1aPOGR/eugW0G4vlIoTIfyFcA+QekhhHJhPdQxbiAIguMBTQZrPD7108M6roWYDFQiIAAv6Aow/1bFwXgis+f2LUAynwoIaNcz8XNx3Dl7MEJUDGQpx9gtQ8YCueB+D26OECAAQDadt7e46D42QAAAABJRU5ErkJggg==) 2px 1px no-repeat !important;
   }



    .modal::-webkit-scrollbar {
      width: 1.5em;
      border-left: 3px solid white;
    }
     
    .modal::-webkit-scrollbar-thumb {
      border-bottom: 2px solid white;
    }

